@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "akira";
  src: url("/fonts/akira_font.otf") format("opentype");
}

body {
  font-family: "akira", sans-serif;
  background-image: url("/leather-bg.jpeg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
